# Ignore DocStorage Documents
ignorefile

# Venv
venv 

# env
.env
.env.*

# generated keys
*key.py 

#ignore test account
usertxt.txt

#ignore todo list
todotxt.txt

#ignore DocStorage
DocStorageDocuments/