# Ignore DocStorage Documents
ignorefile

# Venv
venv 

# env
.env
.env.*

# generated keys
*key.py 

#ignore test account
usertxt.txt
database_names.txt
users.txt

#ignore DocStorage
DocStorageDocuments/

#ignore login_databases.sh
login_databases.sh  

#ignore python cache
*.pyc
__pycache__

#ignore iterate_databases.sh
iterate_databases.sh

#ignore truncate_tables.sh
truncate_tables.sh

#ignore scripts
scripts/